<!DOCTYPE html>
<html>

<head>
<title>AETHER</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<header class="hero">

<h1>AETHER</h1>
<p>Your AI platform for social media sentiment analysis</p>

<button onclick="toggleTheme()">Switch Theme</button>

</header>

<div class="menu">

<a href="/youtube">YouTube Analysis</a>
<a href="/chatbot_page">Chatbot</a>
<a href="/feedback_page">Feedback</a>
<a href="/about">About</a>

</div>

<script src="/static/script.js"></script>

<footer class="footer">

<p>© Made by Palak Jain ®</p>

</footer>

</body>
</html>
